*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;

	font-size: 87.5%; //1rem= 16px
	@media only screen and (min-width: 90em) {
		font-size: 120%;
	}
	@media only screen and (max-width: 900px) {
		font-size: 62.5%;
	}
	@media only screen and (max-width: 600px) {
		font-size: 50%;
	}

	@media only screen and (max-width: 400px) {
		font-size: 40%;
	}
	// @media only screen and (max-height: 600px) {
	// 	font-size: 50%;
	// }
}
body {
	box-sizing: inherit;
	width: 100vw;
	min-height: 100vh;
	max-height: max-content;
	position: relative;
	font-family: Nurito-Regular;
}
.info {
	&-icon {
		width: 2.5rem;
		height: 2.5rem;

		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(-50%);
		margin: 1.25rem;

		cursor: pointer;
	}

	&-message {
		padding: 1rem;
		text-align: center;
		line-height: 1rem;
		font-size: 1rem;
		font-family: Nurito-Light;

		background-color: #eee;

		border-radius: 0.5rem;
		width: 20%;

		-webkit-hyphens: auto;
		hyphens: auto;

		position: absolute;
		z-index: 150;
		top: 4rem;
		right: 1rem;

		transition: var(--transition);

		& > * {
			color: #000;
		}

		& > *:last-child {
			padding-top: 0.5rem;
			color: blue;
			font-family: Nurito-Italic;
		}
	}
}
