.board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-dark);
	padding: 1.5rem 2rem;

	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;

	cursor: none;
	h3 {
		font-size: 1rem;
	}

	&__inputs {
		display: grid;
		grid-template-columns: 50% 50%;
		column-gap: 0.5rem;
		text-align: center;

		& > *:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	&__input {
		padding: 2px;
		border-radius: 2px;
		cursor: none;
		margin-bottom: 0;

		display: flex;
		flex-direction: column;
		input {
			border-radius: 4px;
			text-align: center;
		}
		input:focus,
		input:active {
			border: none;
			outline: none;
		}
		input:invalid {
			border: 1px solid var(--secondary-color);
		}
	}

	//view styles
	&__view {
		display: grid;
		gap: 0.5rem;

		cursor: none;
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			h5 {
				align-self: center;
				font-size: 0.75rem;
				cursor: none;
				transform: translateY(0.5rem);
				display: none;
			}
		}
	}
	// disc styles
	&__disc {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		padding: 0.2rem;
		cursor: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		// border: 1px solid currentColor;

		background-color: rgb(44, 2, 44);
	}
	&__title {
		text-transform: uppercase;
		margin: 1rem 0;
	}
}
