.cursor-dot,
.cursor-dot-outline {
	z-index: 100;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	@media (hover: none) {
		opacity: 0;
		visibility: hidden;
	}
}

.cursor-dot {
	$size: 0.5rem;
	width: $size;
	height: $size;
	background-color: var(--cursor-primary);
	@media (hover: none) {
		opacity: 0;
		visibility: hidden;
	}
}

.cursor-dot-outline {
	$size: 1.25rem;
	width: $size;
	height: $size;

	background-color: customLighten(--cursor-primary-light, 30);
	@media (hover: none) {
		opacity: 0;
		visibility: hidden;
	}
}
