.player__details {
	width: 60%;
	background-image: var(--gradient-2);
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	& > *:not(:last-child) {
		margin-bottom: 1.25rem;
	}
	.players__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		gap: 1rem;

		.player {
			// display: grid;
			// grid-template-rows: auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 1rem;
			input,
			select {
				padding: 0.5rem 0;
				border: none;
				outline: none;
				border-radius: 2px;
				text: {
					align: center;
					transform: uppercase;
					decoration: italic;
				}

				font-size: 0.7rem;
			}

			input:active,
			input:focus,
			select:active,
			select:focus {
				border: 1px solid var(--secondary-color);
			}
		}
	}
	.game__start {
		grid-column: 1/-1;
		width: 40%;
		justify-self: center;
		align-self: center;
	}
}
.player-color {
	display: flex;
	align-items: center;

	width: 50%;
	justify-content: center;
	& > *:first-child {
		margin-right: auto;
		&::after {
			content: ":";
			margin-left: 0.5rem;
		}
	}
}

.players__display {
	width: 80vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	& > * {
		justify-self: end;
	}
	& > *:first-child {
		justify-self: unset;
	}

	& > *:last-child {
		width: 40%;
		margin-top: 1rem;
		grid-column: 1/-1;
		justify-self: center;
		align-content: center;
		// text-align: center;
	}
}
.player__icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	fill: #fff;
}
.player-logo {
	position: fixed;
	top: 10%;
}
.board__dimensions {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	grid-column: 1/-1;

	gap: 1rem;

	justify-self: center;

	margin-top: 1rem;
	& > *:first-child {
		grid-column: 1/-1;
		width: 70%;
		text-align: center;
		justify-self: center;
		margin-bottom: 1rem;
	}
	input {
		padding: 0.5rem 0;
		border: none;
		outline: none;
		border-radius: 0.5rem;
		text: {
			align: center;
			transform: uppercase;
		}

		font-size: 1rem;
	}
	label {
		transform: translateY(1rem);
		transition: var(--transition);
		text-align: center;
	}
}
.btn-box {
	position: absolute;
	bottom: 2%;
	left: 50%;

	transform: translateX(-50%);
	width: 80%;

	display: flex;

	// justify-content: space-between;

	align-items: center;
	& > *:first-child {
		margin-right: auto;
	}
}
.winner-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	h3 {
		margin-top: 1rem;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		background-image: linear-gradient(
			120deg,
			var(--light-color),
			var(--dark-color)
		);
		text-transform: capitalize;
	}
}
