:root {
	--primary-color: #1be7ff;
	--primary-color-dark: #2f50d1;
	--secondary-color: #6eeb83;
	--tertiary-color: #e8aa14;
	--light-color: #e4ff1a;
	--dark-color: #ff5714;
	--gradient: linear-gradient(to bottom right, #e4ff1a, #ff5714);
	--gradient-1: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);
	--gradient-2: linear-gradient(to bottom right, #e4ff1a, #6eeb83);
	--gradient-3: linear-gradient(
		to bottom right,
		var(--secondary-color),
		var(--primary-color-dark)
	);
	--transition: all 0.5s;
	--shadow: 0.4;

	// JS
	--home-color: #ff0000;
	--away-color: #0000ff;

	--cursor-primary: #dc5656;
	--cursor-primary-light: #ea9999;
	--cursor-primary-light-h: 200;
	--cursor-primary-light-s: 90%;
	--cursor-primary-light-l: 56%;

	// for changing color lightness for home

	--query-home-color: hsl(45, 32, 56);
	--query-home-color-h: 220;
	--query-home-color-s: 90%;
	--query-home-color-l: 56%;

	// for changing color lightness for away
	--query-away-color: hsl(45, 32, 56);
	--query-away-color-h: 220;
	--query-away-color-s: 90%;
	--query-away-color-l: 56%;
}
// $bp-large: 78.15em; // 1250px
// $bp-medium: 61.25em; // 980px
// $bp-small: 37.5em; // 600px
// $bp-smallest: 31.25em; // 500px
//  @media only screen and (max-width: $bp-medium) {
//         font-size: 50%;
//     }
//
